{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="page-title">
            <h4>Edit Service</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/message.html' %}
                <div class="card">
                    <div class="card-heading border bottom">
                        <h4 class="card-title">Service Form</h4>
                    </div>
                    <div class="card-block">
                        <div class="mrg-top-40">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}